<div id="layout2">

	<div class="title">
		<div class="main">
			<h1>Que se passe-t-il ces temps-ci ?</h1>
		</div>
		<div class="sub1">
			<h2>Voir tous les événements</h2>
		</div>
		<div class="sub2">
			<h2>Voir les grands événements</h2>
		</div>
	</div>

	<div class="events">

		<div class="big-events">
			<div class="big-event e1">
				<%= image_tag 'layout1/calendar.svg', class: 'icon' %>
				<h3>Rencontre de jeunesse 2015</h3>
				<p class="description">Incontournable, la RJ est l'événement qui rassemble une fois par année toute la jeunesse de suisse-romande!</p>
				<%= image_tag 'layout1/setfire.jpg', class: 'cover' %>
			</div>
			<div class="big-event e2">
				<%= image_tag 'layout1/calendar.svg', class: 'icon' %>
				<h3>RJ Login, pour les leaders</h3>
				<p class="description">Pour toi qui est responsable de groupe ou alors qui veut grandir, la rj-login est là pour ressourcer les responsables jeunesses.</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="big-event e3">
				<%= image_tag 'layout1/calendar.svg', class: 'icon' %>
				<h3>Rencontre de jeunesse 2015</h3>
				<%= image_tag 'layout1/rj15.jpg', class: 'cover' %>
			</div>
		</div>

		<div class="road">
			<div class="top">
				<h3>Les grands événements à l'affiche</h3>
				<div class="img"><%= image_tag 'layout2/arrow.png' %></div>
			</div>
			<div class="bellow">
				<div class="img"><%= image_tag 'layout2/arrow-down.png' %></div>
				<h3>Tous tes events</h3>
			</div>
		</div>

		<div class="small-events">
			<div class="small-event" <%= render 'trans' %> >
				<h3>Puissance dans ton école</h3>
				<p class="description">
					si tu est impliqué et que tu as é coeur
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>C'est bientôt fini ?</h3>
				<p class="description">
					soirée du groupe de jeunes explosive
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Les conflit c'est pas bien</h3>
				<p class="description">
					Toi aussi tu trouve cela pas bien ?
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Les conflit c'est pas bien</h3>
				<p class="description">
					Toi aussi tu trouve cela pas bien ?
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Puissance dans ton école</h3>
				<p class="description">
					si tu est impliqué et que tu as é coeur
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>C'est bientôt fini ?</h3>
				<p class="description">
					soirée du groupe de jeunes explosive
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Les conflit c'est pas bien</h3>
				<p class="description">
					Toi aussi tu trouve cela pas bien ?
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Puissance dans ton école</h3>
				<p class="description">
					si tu est impliqué et que tu as é coeur
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>C'est bientôt fini ?</h3>
				<p class="description">
					soirée du groupe de jeunes explosive
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Puissance dans ton école</h3>
				<p class="description">
					si tu est impliqué et que tu as é coeur
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>C'est bientôt fini ?</h3>
				<p class="description">
					soirée du groupe de jeunes explosive
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Les conflit c'est pas bien</h3>
				<p class="description">
					Toi aussi tu trouve cela pas bien ?
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Les conflit c'est pas bien</h3>
				<p class="description">
					Toi aussi tu trouve cela pas bien ?
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Puissance dans ton école</h3>
				<p class="description">
					si tu est impliqué et que tu as é coeur
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>C'est bientôt fini ?</h3>
				<p class="description">
					soirée du groupe de jeunes explosive
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Les conflit c'est pas bien</h3>
				<p class="description">
					Toi aussi tu trouve cela pas bien ?
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Puissance dans ton école</h3>
				<p class="description">
					si tu est impliqué et que tu as é coeur
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>C'est bientôt fini ?</h3>
				<p class="description">
					soirée du groupe de jeunes explosive
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
			<div class="small-event" <%= render 'trans' %> >
				<h3>Va viens et deviens</h3>
				<p class="description">
					super sympa ces gambas
				</p>
				<%= image_tag 'layout1/rjlogin15.png', class: 'cover' %>
			</div>
		</div>

	</div>

</div>